@model Webinarek.Models.WebinarViewModel

@{
    ViewBag.Title = "AddEdit";
}
<h5>
    Webinar - edycja
</h5>
<div class="row" style="width:300px">
    @using (Html.BeginForm("AddEdit", "Webinar"))
    {
        @Html.HiddenFor(x => x.MimeType)
        @Html.HiddenFor(x => x.FileName)
        @Html.HiddenFor(x => x.Id)
        <div class="row">
            <div class="col-md-3">
                @Html.NameFor(x => x.Title)
            </div>
            <div class="col-md-3">
                @Html.EditorFor(x => x.Title)
            </div>

        </div>
        <div class="row">
            <div class="col-md-3">
                @Html.NameFor(x => x.Description)
            </div>
            <div class="col-md-3">
                @Html.TextAreaFor(x => x.Description)
            </div>

        </div>

        <div class="row">
            <div class="col-md-3">
                <button type="submit">
                    Zapisz
                </button>
            </div>
            <div class="col-md-3">
                <button><a href="/Webinar/Index">Wróć</a></button>
            </div>
        </div>

    }
</div>
<div class="row" style="padding-bottom:10px">

    @using (Ajax.BeginForm("AddVideoFile", "Webinar", new AjaxOptions { HttpMethod = "POST", OnSuccess = @"SuccessAddedVideo", OnBegin=@"StartUploading" }, new { enctype = "multipart/form-data" }))
    {

        <div class="col-md-3">
            <input style="height:40px" type="file" id="file" name="file" />
        </div>
            <div class="col-md-3">
                <input style="height:40px" type="submit" id="upload-video" />
            </div>
    }
</div>
<div class="row">
    <span id="video-status"></span>
</div>
<script>
    function StartUploading() {
        $("#upload-video").attr('disabled');
        $("#video-status").text('Dodawanie...');
    }
    function SuccessAddedVideo(data) {
        if (data != null && data != '') {
            $('#FileName').val(data.FileName);
            $('#MimeType').val(data.MimeType);
            $("#upload-video").removeAttr('disable');
            $("#video-status").text('');
        }
    }
</script>


