@model Webinarek.Models.WebinarViewModel

@{
    ViewBag.Title = "AddEdit";
}
<h5>
    Webinar - edycja
</h5>
<form>
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                @Html.NameFor(x => x.Title)
            </div>
            @Html.EditorFor(x => x.Title)
        </div>
        <div class="row">
            <div class="col-md-1">
                @Html.NameFor(x => x.Description)
            </div>
            @Html.EditorFor(x => x.Description)
        </div>
        <div class="row">
            <div class="col-md-1">
                @Html.NameFor(x => x.Duration)
            </div>

            @Html.EditorFor(x => x.Duration)
        </div>
        <div class="row">
            <button type="submit">
            Zapisz    
            </button>
        </div>

       <div class=" row">
           <button><a href="/Webinar/Index">Wróć</a></button>
       </div>

    </div>
</form>
