@model Webinarek.Models.KursViewModel

@{
    ViewBag.Title = "AddEdit";
}

<h2>Kurs - edycja</h2>

<form>
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                @Html.NameFor(x => x.Name)
            </div>
            <div class="col-md-1">
                @Html.EditorFor(x => x.Name)
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                @Html.NameFor(x => x.Category)
            </div>
            <div class="col-md-1">
                @Html.EditorFor(x => x.Category)
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                @Html.NameFor(x => x.Description)
            </div>
            <div class="col-md-1">
                @Html.EditorFor(x => x.Description)
            </div>

        </div>
        <div class="row">
            <div class="col-md-1">
                <button type="submit">
                    Zapisz
                </button>
            </div>
            <div class="col-md-1">
                <button><a href="/Kurs/Index">Wróć</a></button>
            </div>
            
        </div>
        <div class="row">
            @{Html.RenderAction("WebinarsForKurs", "Webinar", new { id = Model.Id });}
        </div>

    </div>
</form>
